@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}

body {
  background: #f8f8f8;
  /* min-width: 800px; */
}

.container {
  /* font-family: cairo, roboto, poppins, "open sans", lato, sans-serif; */
  background-color: #f6f6f9;
  /* margin: 120px 0; */
  padding: 120px 13%;
  width: 100%;
}

.btn {
  cursor: pointer;
}

/* Start of header style */

header {
  width: 100%;
  background-color: #fff;
  color: #fff;
  padding: 15px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(37, 38, 94, 0.06);
  height: 60px;

  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  /* font-family: 'eczar', sans-serif; */
  /* font-family: 'poppins'; */
  font-family: "lato", sans-serif;
}

.logo img {
  height: 28px;
  margin-right: 10px;
}

nav .login-btn a {
  color: #f6f6f6;
  background-color: #0556f3;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;
  width: 75px;
  text-align: center;
  outline: none;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #25265e;
  font-weight: 500;
  transition: color 0.2s ease;
  font-size: 1.1em;
}

nav ul li:not(:last-child) a:hover {
  color: #0556f3;
}

.dropdown .level-2,
.dropdown .level-3 .web,
.dropdown .level-3 .soft {
  /* position: relative; */
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
  text-decoration: none;
  flex-direction: column;
}

.dropdown .level-2 {
  width: 250px;
  top: 62px;
  right: 25%;
}

.dropdown .level-2 a {
  color: #25265e;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown .level-2 a:hover {
  color: #0556f3;
}

.dropdown .level-3 a {
  color: #25265e;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown .level-3 .web {
  top: 0px;
  right: -127px;
  background-color: #fff;
}

.dropdown .level-3 .soft {
  top: 50px;
  right: -93px;
  background-color: #fff;
}

.dropdown .level-2::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 0;
  width: 203px;
  height: 27px;
  background-color: transparent;
}

.dropdown div a {
  transition: all 0.3s ease;
}

.dropdown div a:not(:last-child) {
  border-bottom: 1px solid #ced4da;
}

.dropdown div a:hover {
  background-color: rgba(5, 86, 243, 0.2);
  color: #25265e;
}

.dropdown a:hover + .level-2 {
  background-color: #fff;
  display: flex;
}

.level-2:hover {
  display: flex;
  background-color: #fff;
}

.level-2 .web-level:hover + .level-3 .web {
  display: flex;
  background-color: #fff;
}

/* .dropdown .level-2>.web-level:hover +.level-3.web {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  } */

/* End of header style*/

/***********************
***********************/

/* Start of main page (index) style */

.main-container {
  font-family: cairo, roboto, poppins, "open sans", lato, sans-serif;
  background-color: #f6f6f9;
  margin: 120px 0;
  padding: 0 13%;
  min-height: 100vh;
  width: 100%;
}

.main-container .upper {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  width: 100%;
}
.main-container .upper .txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20%;
  text-align: left;
  width: 40%;
  padding-top: 120px;
  min-width: 230px;
}

.main-container .upper .txt h2 {
  font-size: 2em;
  margin-bottom: 45px;
}

.main-container .upper .txt p {
  font-size: 1.2em;
  margin-bottom: 15px;
  font-family: "open sans", sans-serif;
  color: rgba(37, 38, 94, 0.87);
}

.main-container .upper img {
  width: 470px;
}

.main-container .courses {
  display: flex;
  width: 100%;
}

.main-container .courses .txt {
  width: 30%;
  min-width: 220px;
}

.main-container .courses .txt h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.main-container .courses .txt p {
  color: rgba(37, 38, 94, 0.87);
  line-height: 1.8;
  width: 220px;
}

.main-container .courses .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 40px;
  /* flex: 1 1 auto; */
  width: 70%;
  justify-content: space-between;
}

.main-container .courses .cards .card {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 20%;
  justify-content: space-between;
  /* width: 30%; */
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(37, 38, 94, 0.06);
  transition: box-shadow, scale 0.3s ease-out;
  /* min-width: 250px; */
}

.main-container .courses .cards .card:hover {
  box-shadow: 0px 4px 12px rgba(37, 38, 94, 0.16);
  scale: 1.08;
}

.main-container .courses .cards .card img {
  height: 40px;
  margin-right: 90px;
}

/* End of main page (index) style */

/******************************
*******************************
*******************************/

/* Start of html page style */
.html-container,
.js-container,
.python-container {
  /* font-family: cairo, roboto, poppins, "open sans", lato, sans-serif; */
  background-color: #fff;
  /* padding: 60px 0; */

  width: 100%;
}

.title-section .container {
  background-color: #e0f0fc;

  /* padding: 100px 13%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  min-height: 600px;
  padding-bottom: 30px;
}
.title-section .upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.title-section .upper .icon {
  background-color: #0556f3;
  color: #f9f7f7;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 160px;
  height: 160px;
  margin-right: 10px;
}

.title-section .upper .icon i {
  font-size: 90px;
}

.title-section .upper .title {
  display: flex;
  justify-content: center;
  font-size: 1.6em;
  flex-direction: column;
  width: 85%;
}
.title-section .upper .title h1 {
  color: #25265e;
}

.title-section .upper .title .separetor {
  border-bottom: 1px solid #d3dce6;
  width: 95%;
  margin: 10px 0;
}

.title-section .description {
  color: rgba(37, 38, 94, 0.7);
  font-size: 16px;
  line-height: 2.2;
}

.title-section .description p:not(:last-child) {
  margin-bottom: 20px;
  padding-right: 20px;
}

.title-section .arrow {
  display: flex;

  justify-content: center;
  font-size: 32px;
}

.title-section .arrow a {
  color: rgba(37, 38, 94, 0.434);
  transition: color 0.3s ease-in;
}
.title-section .arrow a:hover {
  color: rgba(37, 38, 94, 0.6);
}

.main-content {
  font-family: cairo, roboto, poppins, "open sans", lato, sans-serif;
  background-color: #f6f6f6;
  /* margin: 50px 0; */
  padding: 50px 13%;
  width: 100%;
  display: flex;
}

.main-content aside {
  margin-bottom: 30px;
  background-color: #fbfbfb;
  border-radius: 6px;
  border: 1px solid #d3dce6;
  position: sticky;
  top: 100px;
  width: 25%;
  min-width: 260px;
  margin-right: 40px;
  height: fit-content;
}

.main-content aside .list {
  display: flex;
  flex-direction: column;
}

.main-content aside .list a {
  padding: 10px 30px;
  font-size: 14px;
  text-decoration: none;

  color: #65668d;
  font-weight: 500;
  transition: all 0.3s ease;
}

.main-content aside h3 {
  border-bottom: 1px solid #d3dce6;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 30px;
  color: #25265e;
  margin-bottom: 12px;
}

.main-content aside a.active {
  border-left: 5px solid #0556f3;
}

.main-content aside a:hover {
  background-color: rgba(5, 86, 243, 0.2);
  color: #25265e;
}

.main-content .course-content {
  width: 70%;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 50px;
  border: none;
  outline: none;
  color: #65668d91;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: color 0.2s ease;
}

#scrollToTopBtn:hover {
  color: #65668d;
}

.main-content .course-content .card {
  background-color: #fbfbfb;
  border-radius: 6px;
  border: 1px solid #d3dce6;
  min-width: 400px;
  margin-bottom: 50px;
  margin-top: 50px;
  scroll-margin-top: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.main-content .course-content .introduction {
  margin-top: 0;
}

.main-content .course-content .card h2 {
  border-bottom: 1px solid #d3dce6;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 30px;
  color: #25265e;
  margin-bottom: 12px;
}

.main-content .course-content .card .card-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.main-content .course-content .card .card-content a {
  padding: 10px 50px;
  font-size: 14px;
  text-decoration: none;
  color: #65668d;
  font-weight: 500;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.main-content .course-content .card .card-content a:hover {
  color: #0556f3;
}

.main-content .course-content .card .card-content a::before {
  content: "";
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: transparent;
  border-radius: 30%;
  border: 3px solid #c4ccd6;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.main-content .course-content .card .card-content a:hover::before {
  border-color: #0556f3;
  border-radius: 50%;
}

.main-content .course-content .separetor {
  border-bottom: 1px solid #d3dce6;
  margin: 60px 0;
  width: 95%;
  margin-left: 3%;
}

.main-content .course-content .info {
  padding: 0 20px 0 30px;
  scroll-margin-top: 100px;
  min-width: 400px;
}

.main-content .course-content .info h2 {
  color: #25265e;
  margin-bottom: 25px;
  font-size: 1.4em;
}

.main-content .course-content .info .info-content {
  padding-left: 30px;
  /* width: 85ch; */
}

.main-content .course-content .info .info-content span {
  font-weight: 650;
}

.main-content .course-content .info p {
  color: #65668d;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 1.9;
}

.main-content .course-content .info .info-content ul li {
  color: #65668d;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 1.6;
}

.main-content .course-content .info .info-content a {
  text-decoration: none;
  color: #0556f3;
}

.main-content .course-content .info .info-content a:hover {
  color: #03338f;
}

.main-content .course-content .video iframe {
  width: 100%;
  height: 445px;
}

footer {
  background-color: #2b324d;
  color: #fff;
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
  padding: 15px 17%;
  margin-top: 100px;
}

footer .upper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

footer .upper .logo {
  display: flex;
  align-items: flex-start;
}
footer .upper .links {
  text-decoration: none;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

footer .upper .links p {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 1.1em;
}

footer .upper .links a {
  color: #d3dce6;
  transition: color 0.3s ease;
  margin-bottom: 10px;
}

footer .upper .links a:hover {
  color: white;
}

footer .upper .courses {
  text-decoration: none;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

footer .upper .courses a {
  color: #d3dce6;
  transition: color 0.3s ease;
  margin-bottom: 10px;
}

footer .upper .courses a:hover {
  color: white;
}

footer .upper .courses p {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 1.1em;
}

footer .end {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(251, 251, 251, 0.2);
  padding-top: 15px;
}

footer .end p {
  font-size: 1.1em;
}

footer .end .social a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

footer .end .social a:hover {
  color: rgb(104, 133, 252);
}

/************************************/

.login-container {
  width: 100%;
  display: flex;
}

.login-container aside {
  margin-top: 50px;
  width: 40%;
  background-color: #25265e;
  color: hsla(0, 0%, 100%, 0.87);
  padding: 50px 30px 0 13%;
}

.login-container aside h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

.login-container aside .feature {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 20px;
  width: 100%;
}

.login-container aside .feature .icon {
  background-color: rgba(0, 163, 255, 0.1);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.login-container aside .feature .info {
  display: flex;
  flex-direction: column;
  /* width: calc(100% - 75px); */
}

.login-container aside .feature .info h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.login-container aside .feature .info p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px;
}

.login-container .main-container {
  display: flex;
  width: 60%;
  padding-left: 50px;
  justify-content: center;
  min-height: 400px;
}

.login-container .main-container .login {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .main-container .upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: flex-end;
}

.login-container .main-container .upper h2 {
  color: #25265e;
  font-size: 1.3em;
}
.login-container .main-container .upper p {
  font-weight: 500;
  color: rgba(37, 38, 94, 0.87);
}

.login-container .main-container .upper p a {
  text-decoration: none;
  color: #0556f3;
}

.login-container .main-container .upper p a:hover {
  color: #03338f;
}

.login-container .main-container .external-login {
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.login-container .main-container .ex-login {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: #171516;
  background: transparent;
  border: 1px solid #171516;
  border-radius: 3px;
  padding: 15px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login-container .main-container .ex-login:hover {
  color: #171516ca;
}

.login-container .main-container .ex-login .icon,
.login-container .main-container .ex-login img {
  width: 25px;
  height: 25px;
}

.login-container .main-container .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .main-container .form .input-box {
  width: 100%;
  margin-bottom: 20px;
}

.login-container .main-container .form .input-box p {
  margin-bottom: 10px;
  color: rgba(37, 38, 94, 0.87);
  font-size: 14px;
  font-weight: 500;
}

.login-container .main-container .form .input-box input {
  width: 100%;
  padding: 10px 14px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-container .main-container .form .or {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #25265e;
  margin-bottom: 20px;
}

.login-container .main-container .form .forgot {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}

.login-container .main-container .form .forgot a {
  color: #0556f3;
}

.login-container .main-container .form .forgot:hover a {
  color: #03338f;
}

.login-container .main-container .form .button {
  cursor: pointer !important;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.login-container .main-container .form .button input {
  background: #0556f3;
  color: #fff;
}

.signup {
  display: none;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.login-footer {
  margin-top: 0;
}

.contact-container .container {
  padding: 120px 24%;
}

.contact-container h1 {
  color: #25265e;
  font-size: 1.7em;
  margin-bottom: 15px;
}

.contact-container p {
  margin-bottom: 25px;
  color: rgba(37, 38, 94, 0.87);
  font-size: 14px;
  font-weight: 500;
}

.contact-container .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container .form .input-box {
  width: 100%;
  margin-bottom: 20px;
}

.contact-container .form .input-box p {
  margin-bottom: 10px;
  color: rgba(37, 38, 94, 0.87);
  font-size: 14px;
  font-weight: 500;
}

.contact-container .form .input-box input {
  width: 100%;
  padding: 10px 14px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contact-container .form .input-box select {
  width: 100%;
  padding: 10px 14px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 25px;
}

.contact-container .form .input-box textarea {
  width: 100%;
  padding: 10px 14px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 25px;
}

.contact-container .form .button {
  cursor: pointer !important;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 150px;
}

.contact-container .form .button input {
  background: #0556f3;
  color: #fff;
}

.contact-container .form .row-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}

.contact-container .form .row-1 .input-box {
  width: 90%;
  margin-right: 20px;
}

.contact-container .form .row-1 div:last-child {
  margin-right: 0;
}

.about-container .container {
  padding: 120px 20%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../imgs/8qEB0fTe9Vw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.about-container .container .txt {
  background-color: black;
  margin-top: 110px;
  padding: 40px;
  opacity: 0.8;
  border-radius: 8px;
}

.about-container .container h2 {
  color: #fff;
  line-height: 2;
  font-size: 1.6em;
  opacity: 1.5;
  margin-bottom: 15px;
}

.about-container .container p {
  color: #fff;
  text-shadow: 0 1px 10px rgba(57, 57, 57, 0.5);
  line-height: 2;
  font-size: 1.1em;
  margin-bottom: 15px;
}

.about-footer {
  margin-top: 0px;
}
